In [1]:
import pandas as pd
import requests
from selenium import webdriver
from bs4 import BeautifulSoup
from splinter import Browser

In [2]:
# connect to chromedriver

In [3]:
executable_path = {'executable_path': 'C:/Windows/System32/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

## Mars News - NASA

In [89]:
# insert URL into variable
url = "https://mars.nasa.gov/news/"

In [90]:
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [75]:
# call on the link
browser.visit(url)

In [79]:
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [80]:
# save list into variable
li = soup.select_one("ul.item_list li.slide")

In [81]:
# use inspect & print all paragraph texts
title_news = li.find('div', class_='content_title').get_text()
print(title_news)

NASA's Perseverance Rover Mission Getting in Shape for Launch

In [82]:
# use inspect & print all paragraph texts
paragraph = li.find('div', class_='article_teaser_body').get_text()
print(paragraph)

Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet.

## Mars Featured Image

In [92]:
# visit image URL
browser.visit(url_image)

In [93]:
import time
time.sleep(5)

In [94]:
# click on full featured image
featured_img_button = browser.find_by_id("full_image")
featured_img_button.click()

In [95]:
time.sleep(5)

In [96]:
# click on more info
more_info_button = browser.find_link_by_partial_text("more info")
more_info_button.click()

C:\Users\katig\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [97]:
# save image URL
test = browser.links.find_by_partial_href("/spaceimages/images")
test.click()

In [98]:
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [99]:
img_soup

<html><head><meta content="width=device-width, minimum-scale=0.1" name="viewport"/><title>PIA16715_hires.jpg (1515×1024)</title></head><body style="margin: 0px; background: #0e0e0e;"><img height="529" src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16715_hires.jpg" style="-webkit-user-select: none;margin: auto;cursor: zoom-in;" width="783"/></body></html>

In [100]:
featured_img = img_soup.find('img')['src']
featured_img

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16715_hires.jpg'

## Mars Weather Report

In [101]:
# save twitter URL as variable
url_twitter = "https://twitter.com/marswxreport?lang=en"
# visit the URL
browser.visit(url_twitter)

In [102]:
# save HTML into variable & parse
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [30]:
content = soup.find_all('div',
            class_ = 'css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0')

In [31]:
mars_tweet = content[0]

mars_weather = mars_vector.find('span',
            class_ = 'css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0').text
mars_weather

'InSight sol 514 (2020-05-07) low -92.3ºC (-134.1ºF) high -2.8ºC (27.0ºF)\nwinds from the SW at 5.2 m/s (11.6 mph) gusting to 16.8 m/s (37.5 mph)\npressure at 6.90 hPa'

## Mars Facts

In [103]:
# save twitter URL as variable
url_facts = "https://space-facts.com/mars/"

In [104]:
# read webpage into tables with Pandas
tables = pd.read_html(url_facts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [105]:
type(tables)

list

In [106]:
df = tables[0]

In [107]:
df.rename(columns={0: 'Subject', 1: 'Value'})

                Subject                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [108]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [4]:
url_hemi = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemi)

In [110]:
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [111]:
# find image links by class
image_class = soup.find_all('div', class_='item')

In [112]:
# save hemisphere images into list 
hemi_links = []
# find root URL for site
root_URL = "https://astrogeology.usgs.gov"

In [113]:
# loop through each image link & pull image URL & title
for img in image_class:
    # save the image title 
    title = img.find('h3').text
    # find the end URL for each image
    img_end_url = img.find('a', class_='itemLink product-item')['href']
    # go to the image link
    browser.visit(root_URL + img_end_url)
    # save HTML into variable & parse
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    # save image URL
    image_url = root_URL + soup.find('img', class_='wide-image')['src']
    # append the dictionary
    hemi_links.append({"Title": title, "Image_URL": image_url})

In [114]:
hemi_links

[]

In [ ]:
browser.quit()